* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
    font-family: ﻿﻿Roboto, ﻿Courier, sans-serif;
    font-weight: 900;
}
.main-wrapper {
    width:1280px;
    margin:0 auto;
}
.nav {
    text-align: center;
    margin-top: 32px;
}
.menu {
    margin: 0;
    padding: 0;
}
li {
    display: inline-block;
    margin-right: 65px;
    letter-spacing: 2px;
}
a {
    color: #16a085;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
}
img {
    margin-top: 35px;
}
main {
    height: 900px;
    margin-top:0;
    background: #f5f6f7;
}
h2 {
    color: #373737;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 29px;
    text-align: center;
    padding-top: 76px;
    font-weight:900;
}
.container {
    width: 1059px;
    margin-left: 113px;
}
p {
    color: #373737;
    text-align: center;
    line-height: 32px;
    word-spacing: 2px;
    letter-spacing: 2px;
    font-size: 22px;
    margin-top: 34px;
}
.button {
    background:#16a085;
    margin-left: 500px;
    margin-bottom: 94px;
    color: #fff;
    border-radius: 3px;
    letter-spacing: 2px;
    display: block;
    width: 192px;
    padding:16px 42px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-family: ﻿GothamRounded-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, sans-serif;
    margin-top: 64px;
}
footer {
    font-size: 22px;
    color:rgba(55, 55, 55, 255);
    margin-left: 768px;
    margin-bottom: 45px;
    margin-top: 47px;
}
